button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: $white;
    font-size: 10px;
    @media screen and (max-width: 780px) {
        position: inherit !important;
        margin: 1rem auto;
        border-radius: 5px;
        width: 80%;
    }

    &:hover {
        transform: translate(4px, 4px);
        box-shadow: none !important;
    }
}
