.tag {
    width: fit-content;
    border: 1px solid #541230;
    text-align: center;
    background: #ad3450;
    border-radius: 20px;
    margin: 5px;
    @media screen and (max-width: 780px) {
        border-radius: 5px;
    }

    p {
        margin: 5px;
        color: #f2d5c2 !important;
    }
}
