.mainWrapper {
    display: flex;
    justify-content: center;
}

.cvContent {
    background-color: #a3bfa2;
    border-radius: 35px;
    border-left: 22px solid #788f97;
    border-top: 7px solid #788f97;
    box-shadow: -13px 25px 12px 9px #717679;
    padding: 0 4rem;
    margin: 3rem;
    color: #dbd3c9;
    max-width: 1200px;
    animation: text-focus-in 0.8s 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    @media screen and (max-width: 780px) {
        border-radius: 10px;
        border: 1px solid #788f97;
        box-shadow: 0px 0px 20px 5px #717679;
        padding: 1rem;
        width: 90%;
        margin: 3rem 0;
    }

    .titleContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 780px) {
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;
        }
        .circle {
            border: 2px solid rgb(133, 9, 9);
            width: 20px;
            height: 20px;
            border-radius: 10px;

            &__background {
                opacity: 0;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                background: red;
                box-shadow: 0 0 30px 15px rgb(235, 26, 29);
                -webkit-animation: scale-in-center 10ms 2s
                    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
                animation: scale-in-center 10ms 2s
                    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            }
        }
    }

    h1 {
        color: #ad3450;
        font-size: 20px;
        margin: 2rem;
        @media screen and (max-width: 780px) {
            margin: 1rem 0;
            font-size: 18px;
        }

        .Typewriter {
            padding: 10px 0;
            border-bottom: 3px solid #82468f;
        }
    }

    h2 {
        font-size: 15px;
        text-align: center;
        margin: 10px 0;
        @media screen and (max-width: 780px) {
            font-size: 10px;
            font-weight: 100;
        }
    }

    .typewriter__cursor {
        color: red;
    }

    h3 {
        color: #546a76;
        font-size: 15px;
        margin: 1rem;
        @media screen and (max-width: 780px) {
            font-size: 10px;
            font-weight: 100;
        }
    }

    p {
        margin: 1rem;
        @media screen and (max-width: 780px) {
            font-size: 8px;
        }
    }

    ul {
        margin: 1rem;
        @media screen and (max-width: 780px) {
            font-size: 8px;
        }
    }

    li {
        list-style-type: none;
        line-height: 20px;
        @media screen and (max-width: 780px) {
            line-height: 13px;
        }
    }

    a {
        text-decoration: none;
        color: #f2d5c2;

        &:hover {
            padding-left: 8px;
            padding-right: 8px;
            border-left: 5px solid rgb(235, 26, 29);
            border-right: 5px solid rgb(235, 26, 29);
        }
    }

    section {
        border: 3px solid #546a76;
        box-shadow: 0 0 5px 2px #546a76;
        border-radius: 35px;
        background: #788f97;
        color: #dbd3c9;
        margin-bottom: 2rem;
        @media screen and (max-width: 780px) {
            border-radius: 10px;
        }

        .tagContent {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .footerButton {
        text-align: end;
        @media screen and (max-width: 780px) {
            text-align: center;
        }

        a:hover {
            padding: 0;
            border: none;
        }
    }
}
