.notFoundContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $white;
    @media screen and (max-width: 500px) {
        padding: 1rem;
    }

    .imgContent {
        margin: 1rem;
        width: 500px;
        height: 500px;
        border-radius: 20px;
        overflow: hidden;
        border: 10px solid #fff;
        box-shadow: 0 0 10px rgb(7 73 180);
        @media screen and (max-width: 780px) {
            width: 90%;
            height: auto;
            max-width: 500px;
            max-height: 500px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .textContent {
        width: 500px;
        @media screen and (max-width: 780px) {
            width: 90%;
            max-width: 500px;
        }
        h2 {
            margin: 2rem auto;
            font-weight: 100;
            @media screen and (max-width: 780px) {
                font-size: 15px;
            }
        }

        p {
            @media screen and (max-width: 780px) {
                font-size: 10px;
            }
        }
        span {
            color: $color8;
        }
    }
}
