$color1: #3c3331ff;
$color2: #515151ff;
$color3: #717679ff;
$color4: #a2a3a0ff;
$color5: #a8aaaaff;
$color6: #eb1a1dff;
$color7: #fece15ff;
$color8: #0749b4ff;
$color9: #008d45ff;
$color10: #00a8e1;
$color11: #432b4f;

$colorA: #dbd3c9;
$colorB: #a3bfa2;
$colorC: #788f97;
$colorD: #546a76;

$white: #fff;
$black: #000;

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@font-face {
    font-family: "Press Start 2P";
    src: url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
}
